<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bchunk - revil</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha512-rO2SXEKBSICa/AfyhEK5ZqWFCOok1rcgPYfGOqtX35OyiraBg6Xa4NnBJwXgpIRoXeWjcAmcQniMhp22htDc6g==" crossorigin="anonymous" />
    <style>
      /* Sticky footer styles
      -------------------------------------------------- */
      html {
        position: relative;
        min-height: 100%;
      }
      body {
        margin-bottom: 60px; /* Margin bottom by footer height */
      }
      .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
      }


      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
    </style>
  </head>

  <body>

  <main role="main" class="container">
    <h1 class="mt-5">bchunk</h1>
    <p class="lead">Turn your useless .bin and .cue files into .iso!</p>
    <hr />
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
    <span class="text-muted"><a target="_blank" href="https://gitlab.com/theguydanish/bchunk-web">An open source webapp</a> by <a target="_blank" href="https://twitter.com/theguydanish">TheGuyDanish</a> - <a target="_blank" href="https://gitlab.com/theguydanish/bchunk-web/-/tree/{{ version }}">{{ version }}</a></span>
    </div>
  </footer>


  </body>
</html>