{% extends "base.html" %}

{% block content %}
<p>Your file has been converted.</p>
<a href="{{ name }}">Click here to download it!</a><br />
<small>This link will be active for one week, after which, it will be deleted from the server.</small>
<hr />
<p>Have more to convert? <a href="/">Click here to start over!</a></p>
{% endblock %}