{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible show" role="alert">
    {{ message | safe }}
</div>
<hr />
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <div class="form-group">
    <label>BIN File</label><br />
    {{ form.bin_file(class_='form-control') }}
    {% if form.bin_file.errors %}
    <br />
    <div class="alert alert-danger" role="alert">
      {% for error in form.bin_file.errors %}
        {{ error }}<br />
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="form-group">
    <label>CUE File</label><br />
    {{ form.cue_file(class_='form-control') }}
    {% if form.cue_file.errors %}
    <br />
    <div class="alert alert-danger" role="alert">
      {% for error in form.cue_file.errors %}
        {{ error }}<br />
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <hr />
  <button class="btn btn-primary" type="submit">Upload</button>
</form>
{% endblock %}